pluginName: {{ .PluginInfo.Name | default "bk-nodemgr-relay" }}
plugin:
  pidFile: {{ .PluginInfo.PidPath }}/{{ .PluginInfo.Name | default "bk-nodemgr-relay" }}.pid
  {{- if eq .NodeInfo.Dynamic.NodeOsType "windows" }}
  messageLocalSocketPort: {{ .PluginInfo.PluginIPC | default 26000 | int }}
  {{- else }}
  messageDomainSocketPath: {{ .PluginInfo.PluginIPC | default "/usr/local/gse2/agent/lib/ipc.state.message" }}
  {{- end }}

infoServer:
  bindIP: {{ .CustomContext.InfoServer.BindIP | default "127.0.0.1" }}
  port: {{ .CustomContext.InfoServer.Port | default 28300 }}
  {{- with .NodeInfo.Dynamic.AdvertiseIP }}
  advertiseIPV4: {{ . }}
  {{- end }}
  {{- with .NodeInfo.Dynamic.AdvertiseIPV6 }}
  advertiseIPV6: {{ . }}
  {{- end }}
  authIdentity: {{ .CustomContext.InfoServer.AuthIdentity | default "none" }}
  traceServiceName: relay-server-info
  traceSampleRate: 0

adminServer:
  bindIP: {{ .CustomContext.AdminServer.BindIP | default "127.0.0.1" }}
  port: {{ .CustomContext.AdminServer.Port | default 28301 }}
  {{- with .NodeInfo.Dynamic.AdvertiseIP }}
  advertiseIPV4: {{ . }}
  {{- end }}
  {{- with .NodeInfo.Dynamic.AdvertiseIPV6 }}
  advertiseIPV6: {{ . }}
  {{- end }}
  authIdentity: {{ .CustomContext.AdminServer.AuthIdentity | default "none" }}
  traceServiceName: relay-server-admin
  traceSampleRate: 0

callbackServer:
  bindIP: {{ .CustomContext.CallbackServer.BindIP | default "127.0.0.1" }}
  port: {{ .CustomContext.CallbackServer.Port | default 28302 }}
  {{- with .NodeInfo.Dynamic.AdvertiseIP }}
  advertiseIPV4: {{ . }}
  {{- end }}
  {{- with .NodeInfo.Dynamic.AdvertiseIPV6 }}
  advertiseIPV6: {{ . }}
  {{- end }}
  authIdentity: {{ .CustomContext.CallbackServer.AuthIdentity | default "none" }}
  traceServiceName: relay-server-callback
  traceSampleRate: 0

downloadServer:
  bindIP: {{ .CustomContext.DownloadServer.BindIP | default "127.0.0.1" }}
  port: {{ .CustomContext.DownloadServer.Port | default 28303 }}
  {{- with .NodeInfo.Dynamic.AdvertiseIP }}
  advertiseIPV4: {{ . }}
  {{- end }}
  {{- with .NodeInfo.Dynamic.AdvertiseIPV6 }}
  advertiseIPV6: {{ . }}
  {{- end }}
  authIdentity: {{ .CustomContext.DownloadServer.AuthIdentity | default "none" }}
  traceServiceName: relay-server-download
  traceSampleRate: 0

relayWorkspaceFileGroup:
  fullPath: {{ .CustomContext.WorkspaceFileGroupFullPath | default "/tmp/bknm" }}

{{- if .CustomContext.Tracing }}
tracing:
  exporterType: {{ .CustomContext.Tracing.ExporterType }}
  otlpEndpoint: {{ .CustomContext.Tracing.OtlpEndpoint }}
  otlpInsecure: {{ .CustomContext.Tracing.OtlpInsecure }}
  otlpHeaders: {{ .CustomContext.Tracing.OtlpHeaders }}
{{- end }}

log:
  dir: {{ .CustomContext.Log.LogDir | default .PluginInfo.LogPath }}
  maxSizeMB: {{ .CustomContext.Log.LogMaxSizeMB | default 100 }}
  maxNum: {{ .CustomContext.Log.LogMaxNum | default 7 }}
  level: {{ .CustomContext.Log.LogLevel | default "INFO" }}
  toStderr: {{ .CustomContext.Log.LogToStderr | default false}}
  alsoToStderr: {{ .CustomContext.Log.LogAlsoToStderr | default false }}
