pluginName: {{ .PluginInfo.Name | default "bk-nodemgr-relay" }}
plugin:
  pidFile: {{ .PluginInfo.PidPath }}/{{ .PluginInfo.Name | default "bk-nodemgr-relay" }}.pid
  {{- if eq .NodeInfo.Dynamic.NodeOsType "windows" }}
  messageLocalSocketPort: {{ .PluginInfo.PluginIPC | default 26000 | int }}
  {{- else }}
  messageDomainSocketPath: {{ .PluginInfo.PluginIPC | default "/usr/local/gse2/agent/lib/ipc.state.message" }}
  {{- end }}

infoServer:
  bindIP: 127.0.0.1
  bindIPV6: ::1
  port: {{ .CustomContext.InfoServer.Port | default 28300 | int }}
  {{- with .NodeInfo.Dynamic.AdvertiseIP }}
  advertiseIPV4: {{ . }}
  {{- end }}
  {{- with .NodeInfo.Dynamic.AdvertiseIPV6 }}
  advertiseIPV6: {{ . }}
  {{- end }}
  authIdentity: none
  traceServiceName: relay-server-info
  traceSampleRate: 0

adminServer:
  bindIP: 127.0.0.1
  bindIPV6: ::1
  port: {{ .CustomContext.AdminServer.Port | default 28301 | int }}
  {{- with .NodeInfo.Dynamic.AdvertiseIP }}
  advertiseIPV4: {{ . }}
  {{- end }}
  {{- with .NodeInfo.Dynamic.AdvertiseIPV6 }}
  advertiseIPV6: {{ . }}
  {{- end }}
  authIdentity: none
  traceServiceName: relay-server-admin
  traceSampleRate: 0

callbackServer:
  bindIP: {{ .NodeInfo.Static.InnerIPList | first | default "127.0.0.1" }}
  bindIPV6: {{ .NodeInfo.Static.InnerIPV6List | first | default "::1" }}
  port: {{ .NodeInfo.Dynamic.RelayCallbackPort | default 28302 | int }}
  {{- with .NodeInfo.Dynamic.AdvertiseIP }}
  advertiseIPV4: {{ . }}
  {{- end }}
  {{- with .NodeInfo.Dynamic.AdvertiseIPV6 }}
  advertiseIPV6: {{ . }}
  {{- end }}
  authIdentity: "none"
  traceServiceName: relay-server-callback
  traceSampleRate: 0

downloadServer:
  bindIP: {{ .NodeInfo.Static.InnerIPList | first | default "127.0.0.1" }}
  bindIPV6: {{ .NodeInfo.Static.InnerIPV6List | first | default "::1" }}
  port: {{ .NodeInfo.Dynamic.RelayDownloadPort | default 28303 | int }}
  {{- with .NodeInfo.Dynamic.AdvertiseIP }}
  advertiseIPV4: {{ . }}
  {{- end }}
  {{- with .NodeInfo.Dynamic.AdvertiseIPV6 }}
  advertiseIPV6: {{ . }}
  {{- end }}
  authIdentity: "none"
  traceServiceName: relay-server-download
  traceSampleRate: 0

relayWorkspaceFileGroup:
  {{- if eq .NodeInfo.Dynamic.NodeOsType "windows" }}
  fullPath: {{ .CustomContext.WorkspaceFileGroupFullPath | default (printf "c:/tmp/bknm/%s/relay" (.PluginInfo.DeployEnv | default "dev")) }}
  {{- else }}
  fullPath: {{ .CustomContext.WorkspaceFileGroupFullPath | default (printf "/tmp/bknm/%s/relay" (.PluginInfo.DeployEnv | default "dev")) }}
  {{- end }}

log:
  dir: {{ .CustomContext.Log.LogDir | default .PluginInfo.LogPath }}
  maxSizeMB: {{ .CustomContext.Log.LogMaxSizeMB | default 100 | int }}
  maxNum: {{ .CustomContext.Log.LogMaxNum | default 7 | int }}
  level: {{ .CustomContext.Log.LogLevel | default "INFO" }}
  toStderr: {{ .CustomContext.Log.LogToStderr | default false }}
  alsoToStderr: {{ .CustomContext.Log.LogAlsoToStderr | default false }}

tracing:
  exporterType: stdout
  otlpEndpoint: ""
  otlpInsecure: false
  otlpHeaders: {}
  globalService:
    traceServiceName: relay
    traceSampleRate: 0
