etcd:
  enabled: false
redis:
  enabled: false
mongodb:
  enabled: false

externalEtcd:
  endpoints:
    - bk-nodemgr-etcd-headless.{{ .Values.namespaces.deps }}.svc.cluster.local:2379

externalRedis:
  addrs:
    - bk-nodemgr-redis-headless.{{ .Values.namespaces.deps }}.svc.cluster.local:6379
  password: defaultpassword

externalMongodb:
  hosts:
    - bk-nodemgr-mongodb-headless.{{ .Values.namespaces.deps }}.svc.cluster.local:27017

{{- $application := deepCopy (dig "application" dict .Values) }}
{{- $_ := set $application "enabled" true }}
{{- $globalIngress := deepCopy (dig "global" "ingress" dict .Values) }}
{{- $applicationIngress := deepCopy (dig "ingress" dict $application) }}
{{- $_ := set $applicationIngress "enabled" (dig "enabled" false $globalIngress) }}
{{- $_ := set $applicationIngress "className" (dig "className" "" $globalIngress) }}
{{- $_ := set $applicationIngress "domain" (dig "domain" "" $globalIngress) }}
{{- $_ := set $applicationIngress "path" (dig "path" "/" $globalIngress) }}
{{- $_ := set $applicationIngress "tlsSecretName" (dig "tlsSecretName" "" $globalIngress) }}
{{- $_ := set $application "ingress" $applicationIngress }}
{{- $config := deepCopy (dig "config" dict $application) }}
{{- $_ := set $config "tenantMode" (dig "global" "tenantMode" "single" .Values) }}
{{- $_ := set $config "adminServer" (dict "jwtServerConfig" (dict "symmetricKey" (dig "global" "serviceJwt" "symmetricKey" "" .Values))) }}
{{- $_ := set $config "access" (dict "virtualUser" (dig "global" "access" "virtualUser" "" .Values)) }}
{{- $_ := set $config "file" (dict "jwtClientConfig" (dict "symmetricKey" (dig "global" "serviceJwt" "symmetricKey" "" .Values))) }}
{{- $tracing := deepCopy (dig "tracing" dict $config) }}
{{- $_ := set $tracing "exporterType" "otlp" }}
{{- $_ := set $tracing "otlpEndpoint" (printf "bk-nodemgr-opentelemetry-gateway.%s.svc.cluster.local:4317" .Values.namespaces.monitoring) }}
{{- $_ := set $tracing "otlpProtocol" "grpc" }}
{{- $_ := set $tracing "otlpInsecure" true }}
{{- $_ := set $config "tracing" $tracing }}
{{- $log := deepCopy (dig "log" dict $config) }}
{{- $_ := set $log "alsoToStderr" true }}
{{- $_ := set $config "log" $log }}
{{- $profiling := deepCopy (dig "profiling" dict $config) }}
{{- if not (hasKey $profiling "enabled") }}
{{- $_ := set $profiling "enabled" true }}
{{- end }}
{{- if and (dig "enabled" false $profiling) (eq (trim (dig "serverAddress" "" $profiling)) "") }}
{{- $_ := set $profiling "serverAddress" (printf "http://bk-nodemgr-pyroscope.%s.svc:4040" .Values.namespaces.monitoring) }}
{{- end }}
{{- $_ := set $config "profiling" $profiling }}
{{- $bkAPITmpl := dig "global" "bkApiUrlTmpl" "https://example.com/api/{gateway_name}/prod" .Values }}
{{- $gatewayNames := dict "nodemgr" "bk-nodemgr" "userManager" "bk-user" "notice" "bk-notice" "iamV3" "bk-iam" "bkLogin" "bk-login" }}
{{- $backendGateway := deepCopy (dig "gateways" "nodemgr" dict .Values) }}
{{- $backend := deepCopy (dig "backend" dict $config) }}
{{- $_ := set $backend "appCode" (dig "global" "appCode" "" .Values) }}
{{- $_ := set $backend "appSecret" (dig "global" "appSecret" "" .Values) }}
{{- $_ := set $backend "user" (dig "global" "user" "" .Values) }}
{{- $nodemgrEndpoint := replace "{gateway_name}" (dig "nodemgr" "" $gatewayNames) $bkAPITmpl }}
{{- $_ := set $backend "endpoints" (dig "endpoints" (list $nodemgrEndpoint) $backendGateway) }}
{{- $_ := set $config "backend" $backend }}
{{- range $configName := list "userManager" "notice" "iamV3" }}
{{- $gateway := deepCopy (dig "gateways" $configName dict $.Values) }}
{{- $current := deepCopy (dig $configName dict $config) }}
{{- $_ := set $current "appCode" (dig "global" "appCode" "" $.Values) }}
{{- $_ := set $current "appSecret" (dig "global" "appSecret" "" $.Values) }}
{{- $_ := set $current "user" (dig "global" "user" "" $.Values) }}
{{- $gatewayName := dig $configName "" $gatewayNames }}
{{- $endpoint := replace "{gateway_name}" $gatewayName $bkAPITmpl }}
{{- $_ := set $current "endpoints" (dig "endpoints" (list $endpoint) $gateway) }}
{{- $_ := set $config $configName $current }}
{{- end }}
{{- $bkSaaS := deepCopy (dig "bkSaaS" dict $config) }}
{{- $bkLogin := deepCopy (dig "bkLogin" dict $bkSaaS) }}
{{- $_ := set $bkLogin "appCode" (dig "global" "appCode" "" .Values) }}
{{- $_ := set $bkLogin "appSecret" (dig "global" "appSecret" "" .Values) }}
{{- $_ := set $bkLogin "user" (dig "global" "user" "" .Values) }}
{{- $bkLoginEndpoint := replace "{gateway_name}" (dig "bkLogin" "" $gatewayNames) $bkAPITmpl }}
{{- $_ := set $bkLogin "endpoints" (dig "gateways" "bkLogin" "endpoints" (list $bkLoginEndpoint) .Values) }}
{{- $_ := set $bkSaaS "bkLogin" $bkLogin }}
{{- $_ := set $config "bkSaaS" $bkSaaS }}
{{- $front := deepCopy (dig "front" dict $config) }}
{{- if not (dig "bkUserWebURL" "" $front) }}
{{- $_ := set $front "bkUserWebURL" (replace "{gateway_name}" "bk-user-web" $bkAPITmpl) }}
{{- end }}
{{- $_ := set $config "front" $front }}
{{- range $configName := list "backend" "userManager" "notice" "infoServer" "adminServer" "basicServer" "mongodb" "file" "iamV3" }}
{{- $current := deepCopy (dig $configName dict $config) }}
{{- if not (hasKey $current "traceSampleRate") }}
{{- $_ := set $current "traceSampleRate" 1 }}
{{- end }}
{{- $_ := set $config $configName $current }}
{{- end }}
{{- $bkSaaS := deepCopy (dig "bkSaaS" dict $config) }}
{{- $bkLogin := deepCopy (dig "bkLogin" dict $bkSaaS) }}
{{- if not (hasKey $bkLogin "traceSampleRate") }}
{{- $_ := set $bkLogin "traceSampleRate" 1 }}
{{- end }}
{{- $_ := set $bkSaaS "bkLogin" $bkLogin }}
{{- $_ := set $config "bkSaaS" $bkSaaS }}
{{- $tracing := deepCopy (dig "tracing" dict $config) }}
{{- $globalService := deepCopy (dig "globalService" dict $tracing) }}
{{- if not (hasKey $globalService "traceSampleRate") }}
{{- $_ := set $globalService "traceSampleRate" 1 }}
{{- end }}
{{- $_ := set $tracing "globalService" $globalService }}
{{- $_ := set $config "tracing" $tracing }}
{{- $_ := set $application "config" $config }}
application:
{{ toYaml $application | nindent 2 }}

backend:
  enabled: false
file:
  enabled: false
