image:
{{ toYaml .Values.image | nindent 2 }}

apiManagerImage:
{{ toYaml .Values.apiManagerImage | nindent 2 }}

common:
{{ toYaml .Values.common | nindent 2 }}

certData:
{{ toYaml .Values.certData | nindent 2 }}

bkApigatewayPublicKey: {{ .Values.bkApigatewayPublicKey | quote }}

etcd:
  enabled: false
redis:
  enabled: false
mongodb:
  enabled: false
tempo:
  enabled: false
opentelemetryGateway:
  enabled: false
prometheus:
  enabled: false
grafana:
  enabled: false
loki:
  enabled: false
alloy:
  enabled: false

externalEtcd:
{{ toYaml .Values.externalEtcd | nindent 2 }}

externalRedis:
{{ toYaml .Values.externalRedis | nindent 2 }}

externalMongodb:
{{ toYaml .Values.externalMongodb | nindent 2 }}

application:
  enabled: false

backend:
  enabled: true
  replicaCount: {{ .Values.modules.backend.replicaCount }}
  hostNetwork: {{ .Values.modules.backend.hostNetwork }}
  resources:
{{ toYaml .Values.modules.backend.resources | nindent 4 }}
  ingress:
    enabled: false
    lbid: ""
    lbPolicy: WRR
    isDirectConnect: true
  config:
    runMode: {{ .Values.global.runMode | quote }}
    tenantMode: {{ .Values.global.tenantMode | quote }}
    system:
{{ toYaml .Values.modules.backend.system | nindent 6 }}
    installerFileGroup:
{{ toYaml .Values.modules.backend.installerFileGroup | nindent 6 }}
    networkUnit:
{{ toYaml .Values.modules.backend.networkUnit | nindent 6 }}
    fileCache:
      dir: /bk-nodemgr/filecache
      expirationHours: 72
      gcIntervalHours: 1
      restoreOnStart: false
    encryptKey: {{ .Values.global.encryptKey | quote }}
    infoServer:
      bindIP: "0.0.0.0"
      bindIPV6: "::1"
      port: 28100
      traceServiceName: backend-server-info
      traceSampleRate: 0
    adminServer:
      bindIP: "0.0.0.0"
      bindIPV6: "::1"
      port: 28101
      authIdentity: rest-server
      traceServiceName: backend-server-admin
      traceSampleRate: 0
      jwtServerConfig:
        cryptoType: symmetric
        symmetricKey: ""
    basicServer:
      bindIP: "0.0.0.0"
      bindIPV6: "::1"
      port: 28102
      authIdentity: api-gateway
      traceServiceName: backend-server-basic
      traceSampleRate: 0
      jwtServerConfig:
        cryptoType: asymmetric
        publicKeyPem: ""
    callbackServer:
      bindIP: "0.0.0.0"
      bindIPV6: "::1"
      port: 28103
      traceServiceName: backend-server-callback
      traceSampleRate: 0
    proxyServer:
      bindIP: "0.0.0.0"
      bindIPV6: "::1"
      port: 28104
      traceServiceName: backend-server-proxy
      traceSampleRate: 0
    workflow:
      workerNum: 4096
      traceServiceName: workflow
      traceSampleRate: 0
    cmdb:
      supplierAccount: "0"
      endpoints:
{{ toYaml .Values.gateways.cmdb.endpoints | nindent 8 }}
      appCode: {{ .Values.global.appCode | quote }}
      appSecret: {{ .Values.global.appSecret | quote }}
      user: {{ .Values.global.user | quote }}
      authMode: {{ .Values.global.authMode | quote }}
      bkTicket: {{ .Values.global.bkTicket | quote }}
      bkToken: {{ .Values.global.bkToken | quote }}
      accessToken: {{ .Values.global.accessToken | quote }}
      traceServiceName: backend-client-cmdb
      traceSampleRate: 0
      tls:
        insecureSkipVerify: false
        certFile: ""
        keyFile: ""
        caFile: ""
        password: ""
    gse:
      endpoints:
{{ toYaml .Values.gateways.gse.endpoints | nindent 8 }}
      appCode: {{ .Values.global.appCode | quote }}
      appSecret: {{ .Values.global.appSecret | quote }}
      user: {{ .Values.global.user | quote }}
      authMode: {{ .Values.global.authMode | quote }}
      bkTicket: {{ .Values.global.bkTicket | quote }}
      bkToken: {{ .Values.global.bkToken | quote }}
      accessToken: {{ .Values.global.accessToken | quote }}
      pluginSlotID: {{ .Values.gateways.gse.pluginSlotID }}
      pluginSlotToken: {{ .Values.gateways.gse.pluginSlotToken | quote }}
      traceServiceName: backend-client-gse
      traceSampleRate: 0
      tls:
        insecureSkipVerify: false
        certFile: ""
        keyFile: ""
        caFile: ""
        password: ""
    userManager:
      endpoints:
{{ toYaml .Values.gateways.userManager.endpoints | nindent 8 }}
      appCode: {{ .Values.global.appCode | quote }}
      appSecret: {{ .Values.global.appSecret | quote }}
      user: {{ .Values.global.user | quote }}
      authMode: {{ .Values.global.authMode | quote }}
      accessToken: {{ .Values.global.accessToken | quote }}
      traceServiceName: backend-client-usermanager
      traceSampleRate: 0
      tls:
        insecureSkipVerify: false
        certFile: ""
        keyFile: ""
        caFile: ""
        password: ""
    monitor:
      endpoints:
{{ toYaml .Values.gateways.monitor.endpoints | nindent 8 }}
      appCode: {{ .Values.global.appCode | quote }}
      appSecret: {{ .Values.global.appSecret | quote }}
      user: {{ .Values.global.user | quote }}
      authMode: {{ .Values.global.authMode | quote }}
      accessToken: {{ .Values.global.accessToken | quote }}
      traceServiceName: backend-client-monitor
      traceSampleRate: 0
    nodeEventDataID:
      agentBaseAlarm: 0
      taskProc: 0
    creditVault: {}
    log:
{{ toYaml .Values.global.log | nindent 6 }}
    iamV3:
      enable: {{ .Values.gateways.iamV3.enabled }}
      endpoints:
{{ toYaml .Values.gateways.iamV3.endpoints | nindent 8 }}
      appCode: {{ .Values.global.appCode | quote }}
      appSecret: {{ .Values.global.appSecret | quote }}
      user: {{ .Values.global.user | quote }}
      authMode: {{ .Values.global.authMode | quote }}
      accessToken: {{ .Values.global.accessToken | quote }}
      systemID: {{ .Values.gateways.iamV3.systemID | quote }}
      cmdbSystemID: {{ .Values.gateways.iamV3.cmdbSystemID | quote }}
      callbackPath: {{ .Values.gateways.iamV3.callbackPath | quote }}
      traceServiceName: backend-client-iam-v3
      traceSampleRate: 0
      tls:
        insecureSkipVerify: false
        certFile: ""
        keyFile: ""
        caFile: ""
        password: ""
    iamV4:
      enable: {{ .Values.gateways.iamV4.enabled }}
      endpoints:
{{ toYaml .Values.gateways.iamV4.endpoints | nindent 8 }}
      appCode: {{ .Values.global.appCode | quote }}
      appSecret: {{ .Values.global.appSecret | quote }}
      authMode: {{ .Values.global.authMode | quote }}
      systemID: {{ .Values.gateways.iamV4.systemID | quote }}
      callbackPath: {{ .Values.gateways.iamV4.callbackPath | quote }}
    file:
      traceServiceName: backend-client-file
      traceSampleRate: 0
      jwtClientConfig:
        cryptoType: symmetric
        symmetricKey: ""
        tokenExpirationHour: 24
    redis:
      traceServiceName: bk_nodemgr_redis
      traceSampleRate: 0
    mongodb:
      traceServiceName: bk_nodemgr_mongo
      traceSampleRate: 0
    tracing:
{{ toYaml .Values.global.tracing | nindent 6 }}
      globalService:
        traceServiceName: backend
        traceSampleRate: 0

file:
  enabled: false

initPackages:
  enabled: false

apigwSync:
  enabled: false
iamV3:
{{ toYaml .Values.hooks.iamV3 | nindent 2 }}
iamV4:
{{ toYaml .Values.hooks.iamV4 | nindent 2 }}
