etcd:
  enabled: false
redis:
  enabled: false
mongodb:
  enabled: false

externalEtcd:
  endpoints:
    - bk-nodemgr-etcd-headless.{{ .Values.namespaces.deps }}.svc.cluster.local:2379

externalRedis:
  addrs:
    - bk-nodemgr-redis-headless.{{ .Values.namespaces.deps }}.svc.cluster.local:6379
  password: defaultpassword

externalMongodb:
  hosts:
    - bk-nodemgr-mongodb-headless.{{ .Values.namespaces.deps }}.svc.cluster.local:27017

application:
  enabled: false

{{- $backend := deepCopy (dig "backend" dict .Values) }}
{{- $_ := set $backend "enabled" true }}
{{- $config := deepCopy (dig "config" dict $backend) }}
{{- $_ := set $config "tenantMode" (dig "global" "tenantMode" "single" .Values) }}
{{- $_ := set $config "adminServer" (dict "jwtServerConfig" (dict "symmetricKey" (dig "global" "serviceJwt" "symmetricKey" "" .Values))) }}
{{- $_ := set $config "access" (dict "virtualUser" (dig "global" "access" "virtualUser" "" .Values)) }}
{{- $_ := set $config "file" (dict "jwtClientConfig" (dict "symmetricKey" (dig "global" "serviceJwt" "symmetricKey" "" .Values))) }}
{{- $tracing := deepCopy (dig "tracing" dict $config) }}
{{- $_ := set $tracing "exporterType" "otlp" }}
{{- $_ := set $tracing "otlpEndpoint" (printf "bk-nodemgr-opentelemetry-gateway.%s.svc.cluster.local:4317" .Values.namespaces.monitoring) }}
{{- $_ := set $tracing "otlpProtocol" "grpc" }}
{{- $_ := set $tracing "otlpInsecure" true }}
{{- $_ := set $config "tracing" $tracing }}
{{- $bkAPITmpl := dig "global" "bkApiUrlTmpl" "https://example.com/api/{gateway_name}/prod" .Values }}
{{- $gatewayNames := dict "cmdb" "bk-cmdb" "gse" "bk-gse" "userManager" "bk-user" "monitor" "bk-monitor" "iamV3" "bk-iam" "iamV4" "bkiam" }}
{{- range $name := list "cmdb" "gse" "userManager" "monitor" "iamV3" "iamV4" }}
{{- $gateway := deepCopy (dig "gateways" $name dict $.Values) }}
{{- $current := deepCopy (dig $name dict $config) }}
{{- $_ := set $current "appCode" (dig "global" "appCode" "" $.Values) }}
{{- $_ := set $current "appSecret" (dig "global" "appSecret" "" $.Values) }}
{{- $_ := set $current "user" (dig "global" "user" "" $.Values) }}
{{- $gatewayName := dig $name "" $gatewayNames }}
{{- $endpoint := replace "{gateway_name}" $gatewayName $bkAPITmpl }}
{{- $_ := set $current "endpoints" (dig "endpoints" (list $endpoint) $gateway) }}
{{- $_ := set $config $name $current }}
{{- end }}
{{- $iamV4 := deepCopy (dig "iamV4" dict $config) }}
{{- $_ := set $iamV4 "authMode" (dig "global" "authMode" "un" .Values) }}
{{- $_ := set $config "iamV4" $iamV4 }}
{{- $_ := set $backend "config" $config }}
backend:
{{ toYaml $backend | nindent 2 }}

file:
  enabled: false
