etcd:
  enabled: false
redis:
  enabled: false
mongodb:
  enabled: false

externalEtcd:
  endpoints:
    - bk-nodemgr-etcd-headless.{{ .Values.namespaces.deps }}.svc.cluster.local:2379

externalRedis:
  addrs:
    - bk-nodemgr-redis-headless.{{ .Values.namespaces.deps }}.svc.cluster.local:6379
  password: defaultpassword

externalMongodb:
  hosts:
    - bk-nodemgr-mongodb-headless.{{ .Values.namespaces.deps }}.svc.cluster.local:27017

application:
  enabled: false
backend:
  enabled: false

{{- $file := deepCopy (dig "file" dict .Values) }}
{{- $_ := set $file "enabled" true }}
{{- $config := deepCopy (dig "config" dict $file) }}
{{- $_ := set $config "tenantMode" (dig "global" "tenantMode" "single" .Values) }}
{{- $_ := set $config "adminServer" (dict "jwtServerConfig" (dict "symmetricKey" (dig "global" "serviceJwt" "symmetricKey" "" .Values))) }}
{{- $_ := set $config "exportServer" (dict "jwtServerConfig" (dict "symmetricKey" (dig "global" "serviceJwt" "symmetricKey" "" .Values))) }}
{{- $gse := deepCopy (dig "gse" dict $config) }}
{{- $_ := set $gse "appCode" (dig "global" "appCode" "" .Values) }}
{{- $_ := set $gse "appSecret" (dig "global" "appSecret" "" .Values) }}
{{- $_ := set $gse "user" (dig "global" "user" "" .Values) }}
{{- with dig "gateways" "gse" "endpoints" list .Values }}{{- $_ := set $gse "endpoints" . }}{{- end }}
{{- $_ := set $config "gse" $gse }}
{{- $_ := set $file "config" $config }}
file:
{{ toYaml $file | nindent 2 }}
