{{- $envName := .Environment.Name | default "example" -}}
{{- if eq $envName "default" -}}
{{- $envName = "example" -}}
{{- end -}}

helmBinary: {{ dig "helmBinary" "helm" .Values | quote }}

helmDefaults:
  wait: true
  timeout: {{ dig "helmDefaults" "timeout" 600 .Values }}
  createNamespace: true

{{- if dig "chart" "repositoryURL" "" .Values }}
repositories:
  - name: {{ dig "chart" "repository" "blueking" .Values | quote }}
    url: {{ dig "chart" "repositoryURL" "" .Values | quote }}
{{- end }}

environments:
  default:
    values:
      - environments/example/env.yaml
  example:
    values:
      - environments/example/env.yaml
{{- if and .Environment.Name (not (or (eq .Environment.Name "default") (eq .Environment.Name "example"))) }}
  {{ .Environment.Name }}:
    values:
      - environments/{{ .Environment.Name }}/env.yaml
{{- end }}

---

{{- $envName := .Environment.Name | default "example" -}}
{{- if eq $envName "default" -}}
{{- $envName = "example" -}}
{{- end -}}

releases:
  - name: {{ .Values.releaseName | quote }}
    namespace: {{ .Values.namespaces.deps | quote }}
    labels:
      app: bk-nodemgr
      module: deps
    chart: {{ printf "%s/%s" .Values.chart.repository .Values.chart.name | quote }}
    version: {{ .Values.chart.version | quote }}
    missingFileHandler: Warn
    values:
      - templates/deps.yaml.gotmpl
      - environments/{{ $envName }}/overrides/deps.yaml

  - name: {{ .Values.releaseName | quote }}
    namespace: {{ .Values.namespaces.file | quote }}
    labels:
      app: bk-nodemgr
      module: file
    chart: {{ printf "%s/%s" .Values.chart.repository .Values.chart.name | quote }}
    version: {{ .Values.chart.version | quote }}
    missingFileHandler: Warn
    values:
      - templates/file.yaml.gotmpl
      - environments/{{ $envName }}/overrides/file.yaml

  - name: {{ .Values.releaseName | quote }}
    namespace: {{ .Values.namespaces.backend | quote }}
    labels:
      app: bk-nodemgr
      module: backend
    chart: {{ printf "%s/%s" .Values.chart.repository .Values.chart.name | quote }}
    version: {{ .Values.chart.version | quote }}
    missingFileHandler: Warn
    values:
      - templates/backend.yaml.gotmpl
      - environments/{{ $envName }}/overrides/backend.yaml

  - name: {{ .Values.releaseName | quote }}
    namespace: {{ .Values.namespaces.application | quote }}
    labels:
      app: bk-nodemgr
      module: application
    chart: {{ printf "%s/%s" .Values.chart.repository .Values.chart.name | quote }}
    version: {{ .Values.chart.version | quote }}
    missingFileHandler: Warn
    values:
      - templates/application.yaml.gotmpl
      - environments/{{ $envName }}/overrides/application.yaml

  - name: {{ .Values.releaseName | quote }}
    namespace: {{ .Values.namespaces.monitoring | quote }}
    labels:
      app: bk-nodemgr
      module: monitoring
    chart: {{ printf "%s/%s" .Values.chart.repository .Values.chart.name | quote }}
    version: {{ .Values.chart.version | quote }}
    missingFileHandler: Warn
    values:
      - templates/monitoring.yaml.gotmpl
      - environments/{{ $envName }}/overrides/monitoring.yaml
